# List

List is  an ordered sequence of items. It is one of the most used datatype in Python and is very flexible.
#All the items in a list do not need to be of the same type.
Lists are similar to arrays in C language.

In [1]:
# Declaring a list
#Items separated by commas are enclosed within brackets [ ].

a = [1, 2.2, 'python']
print (a)

[1, 2.2, 'python']

In [2]:
#We can use the slicing operator [ ] to extract an item or a range of items from a list. 
#Index starts form 0 in Python.

a = [5,10,15,20,25,30,35,40]

# a[2] = 15
print("a[2] = ", a[2])

# a[0:3] = [5, 10, 15]
print("a[0:3] = ", a[0:3])

# a[5:] = [30, 35, 40]
print("a[5:] = ", a[5:])

a[2] =  15
a[0:3] =  [5, 10, 15]
a[5:] =  [30, 35, 40]

In [3]:
#Lists are mutable, meaning, value of elements of a list can be altered.
# Refer index number to change value

a = [1,2,3]
a[2]=4
print (a)

[1, 2, 4]

In [4]:
#You can access the list items by referring to the index number:
Fruits = ["apple", "banana", "cherry"]
print(Fruits[1])

banana

In [5]:
#Print all items in the list, one by one by using a for loop

Fruits = ["apple", "banana", "cherry"]
for x in Fruits:
  print(x)

apple
banana
cherry

# The list() Constructor

In [6]:
#It is also possible to use the list() constructor to make a list.

Fruits = list(("apple", "banana", "cherry")) # note the double round-brackets
print(Fruits)

['apple', 'banana', 'cherry']

In [7]:
list_ = ['Ajay', 'Vijay', 'Ramesh']
list_.append('Sujay')               #(**Append sujay in the end)   
list_.insert(0, 'NewGuy')           #(** insert Newguy in the front)
list_.extend(['Guy1', 'Guy2'])      #(** Add Guy1 & Guy2 in the end)
print (list_)                       #(** Newguy,Ajay,Vijay,Ramesh,Sujay,Guy1,Guy2)
print (list_.index('Guy1'))         #(**5)   
list_.remove('Guy1')                 # Remove by Name
list_.pop(1)                         # Remove by location - Ajay is gone
print (list_)                        #(** Newguy,Vijay,Ramesh,Sujay,Guy2))

['NewGuy', 'Ajay', 'Vijay', 'Ramesh', 'Sujay', 'Guy1', 'Guy2']
5
['NewGuy', 'Vijay', 'Ramesh', 'Sujay', 'Guy2']

In [8]:
#Sorting
numberlist = [1, 5, 23, 1 ,54,2, 54,23, 54,76, 76,34,87]
numberlist.sort()        #(** Sort the list)
print(numberlist)        #(** print the sorted list)
print (len(numberlist))  #(**13)
print (max(numberlist))  #(**87)
print (min(numberlist)) #(**1)

[1, 1, 2, 5, 23, 23, 34, 54, 54, 54, 76, 76, 87]
13
87
1

In [9]:
string = ['abcd', 'efg', 'hijk', 'lmn']
print (sorted(string, key=len)) #(** sort the string as per the length)

['efg', 'lmn', 'abcd', 'hijk']

# Tuple

It is an ordered sequence of items same as list.
#The only difference is that tuples are immutable. 
#Tuples once created cannot be modified.

#Tuples are used to write-protect data and are usually faster than list as it cannot change dynamically.

In [10]:
#It is defined within parentheses () where items are separated by commas.

Fruittuple = ("apple", "banana", "cherry")
print(Fruittuple)

('apple', 'banana', 'cherry')

In [11]:
#We can use the slicing operator [] to extract items 
Fruittuple = ("apple", "banana", "cherry")
print(Fruittuple[1])

banana

In [12]:
Fruittuple = ("apple", "banana", "cherry")
Fruittuple[1] = "blackcurrant" # values cannot be changed (it will give error)
print(Fruittuple)

TypeError: 'tuple' object does not support item assignment

# The tuple() Constructor

In [16]:
#It is also possible to use the tuple() constructor to make a tuple.
Fruits = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(Fruits)

('apple', 'banana', 'cherry')

# Set

#A set is a collection which is unordered and unindexed. 
#In Python sets are written within curly brackets separated by commas

In [13]:
Fruitset = {"apple", "banana", "cherry"}
print(Fruitset)

{'apple', 'cherry', 'banana'}

In [14]:
#We can perform set operations like union, intersection on two sets. 
#Set have unique values. They eliminate duplicates.


a = {1,2,2,3,3,3.3}
print(a)

{3.3, 1, 2, 3}

In [15]:
#Since, set are unordered collection, indexing has no meaning. 
#Hence the slicing operator [] does not work.

a = {1,2,3}
a[1] #it will show error

TypeError: 'set' object does not support indexing

**Examples of Set**

In [21]:
x={1,2,3}
y={2,3,4,5}
x.difference(y)

{1}

In [22]:
x.union(y)

{1, 2, 3, 4, 5}

In [23]:
x.intersection(y)

{2, 3}

In [24]:
x.issubset(y)

False

In [25]:
z={2,3}
z.issubset(y)

True

In [26]:
print(x)
print(z)
x.symmetric_difference(z)

{1, 2, 3}
{2, 3}

{1}

# Dictionary

In [ ]:
#It is an unordered collection of key-value pairs.
#dictionaries are defined within braces {} with each item being a pair in the form key:value. 
#Key and value can be of any type.
#Python's dictionaries are kind of hash tables.

In [17]:
student={"Name":"Raj","Age":24,"City":"Bangalore"}
print (student)

{'Name': 'Raj', 'Age': 24, 'City': 'Bangalore'}

In [18]:
#You can access the items of a dictionary by referring to its key name:

x=student["Name"]
print (x)

Raj

In [19]:
#You can change the value of a specific item by referring to its key name

student["Age"]=25
print (student)

{'Name': 'Raj', 'Age': 25, 'City': 'Bangalore'}

In [20]:
#You can loop through a dictionary by using a for loop.
# Return values are the keys of the dictionary

for x in student:
    print (x)

Name
Age
City

**Examples of Dictionary**

In [27]:
capitals={"US":"Washington","UK":"London","India":"Delhi"}
capitals.keys()

dict_keys(['US', 'UK', 'India'])

In [28]:
capitals.values()

dict_values(['Washington', 'London', 'Delhi'])

In [29]:
print(capitals)

{'US': 'Washington', 'UK': 'London', 'India': 'Delhi'}

In [30]:
capitals.get("UK")

'London'

In [34]:
capitals.update({"UK":"New York"})

In [35]:
print(capitals)#London will be replaced by New York

{'US': 'Washington', 'UK': 'New York', 'India': 'Delhi'}

In [36]:
capitals.fromkeys(capitals)

{'India': None, 'UK': None, 'US': None}